# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Model weights
models/*.pth

# Checkpoints
*.ckpt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Dataset
data/

# Generated samples
samples/
